 body{

background: #232531;
 }

a:link, a:visited, a:active {
  text-decoration:none;
  color:#000; 
}
a:hover {
  text-decoration: underline; 
  color:#000; 
  background:rgb(0,200,0); 
}
table{
  text-align: center;
  margin: 0 auto;
}
tr:nth-child(even){
  background-color: rgb(0,125,255);
}
p{
  text-align: center;
}